<div class="container">
<div class="page-header">
  <h1 class="network-name">Change Account Information</h1>
</div>

<% if  @user.errors.full_messages.any? %>
  <ul class="text-danger">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-sm-4">

  <%= form_tag("/users/#{@user.id}", method: 'patch') do  %>

  <% if !@student_delegate %> <!-- you are acting on your own behalf -->
    <%= hidden_field_tag(:is_student, true) %>
    <div class="form-group">
      <%= label_tag :name, "Name" %>
      <%= text_field_tag :name, @user.name, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :username, "Username" %>
      <%= text_field_tag :username, @user.username, class: 'form-control' %>
    </div>

    <% if @user.admin == nil %> <!-- if you are an admin you can also set these -->
      <%= hidden_field_tag(:is_student, false) %>
      <div class="form-group">
        <%= label_tag :email, "Email" %>
        <%= text_field_tag :email, @user.email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :level, "Lexical Reading Level" %>
        <%= text_field_tag :level, @user.level, class: 'form-control' %>
      </div>
    <% end %>
  <% else %> <!-- you are acting on your own behalf -->
      <%= hidden_field_tag(:student_id, @user.id) %>
      <div class="form-group">
        <%= label_tag :name, "Student's Name" %>
        <%= text_field_tag :name, @user.name, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :level, "Student's Lexical Reading Level" %>
        <%= text_field_tag :level, @user.level, class: 'form-control' %>
      </div>
  <% end %>

    <%= submit_tag "Update Information", class: 'btn btn-success btn-lg'%>
    or
    <%= link_to "Cancel", root_url %>

  <% end %>

  </div>
</div>
</div>
