<div class="container">
<div class="page-header">
  <h1 class="network-name"><%= @user.name %>'s Account</h1>
</div>

<div class="row">
  <div class="col-sm-12">

    <p>
      <strong>Name:</strong> <%= @user.name %>
    </p>

    <p>
      <strong>Username:</strong> <%= @user.username %>
    </p>

    <p>
      <strong>Email Address:</strong> <%= @user.email %>
    </p>

    <p>
      <strong>Lexical Reading Level:</strong> <%= @user.level %>
    </p>

  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  <%= form_tag("/users/#{@user.id}/edit", method: 'get') do  %>
    <%= submit_tag "Edit My Account", class: 'btn btn-primary btn-lg'%>
  <% end %>
</div>
<div class="col-sm-2">
  <%= form_tag("/users/#{@user.id}", method: 'delete') do  %>
    <%= submit_tag "Delete My Account", class: 'btn btn-primary btn-lg'%>
  <% end %>
</div>
</div>

<div class="row">
  <div class="col-sm-12">

    <h3>Student Accounts</h3>
    <hr class="section-heading-spacer">

    <% User.where(admin: @user.id).each do | student | %>

    <div class="row">
      <div class="col-sm-12">
        <p>
          <strong>Name:</strong> <%= student.name %>
        </p>

        <p>
          <strong>Username:</strong> <%= student.username %>
        </p>

        <p>
          <strong>Lexical Reading Level:</strong> <%= student.level %>
        </p>
      </div>
    </div>
    <hr class="section-heading-spacer">
    <% end %>
  </div>
</div>
</div>
