<div class="container">
  <div class="page-header">
    <ul class="list-inline">
      <li><h1 class="network-name">Browse Videos</h1></li>
      <% if @user.owner == true %>
      <li>
        <%= form_tag("/videos/new", method: 'get') do  %>
          <%= submit_tag "Add Video", class: 'btn btn-info btn-lg'%>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="row">

  </div>
<div class="row">

  <% @videos.each do |v| %>

  <!-- Product Thumbnail -->
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">

      <% icon_url = v.icon_url %>

      <%= link_to image_tag(icon_url),
                  "/videos/#{v.id}",
                  alt: v.title, class: 'img-responsive' %>

      <div class="caption">
        <h4><%= link_to v.title, "/videos/#{v.id}"%></h4>
        <p><%= v.description %></p>
        <p><u>Director</u>: <%= v.director %></p>
        <% if @user.owner == true %>
          <p><%= link_to "Edit", "/videos/#{v.id}/edit"%></p>
        <% end %>
      </div>
    </div>
  </div>

  <% end %>
</div>
</div>
