<div class="container">
<div class="page-header">
  <h1 class="network-name">Add a New Video</h1>
</div>

<% if  @video.errors.full_messages.any? %>
  <ul class="text-danger">
    <% @video.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-sm-4">

  <%= form_tag("/videos", method: 'post') do  %>

    <div class="form-group">
      <%= label_tag :title, "Title" %>
      <%= text_field_tag :title, @video.title, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :description, "Description" %>
      <%= text_field_tag :description, @video.description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :director, "Director" %>
      <%= text_field_tag :director, @video.director, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :loc_id, "Video Location ID" %>
      <%= text_field_tag :loc_id, @video.loc_id, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :icon_url, "Icon URL" %>
      <%= text_field_tag :icon_url, @video.icon_url, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :script_root_url, "Script Root URL" %>
      <%= text_field_tag :script_root_url, @video.script_root_url, class: 'form-control' %>
    </div>

    <%= submit_tag "Add Video", class: 'btn btn-success btn-lg'%>
    or
    <%= link_to "Cancel", "/videos" %>

  <% end %>

  </div>
</div>
</div>
