<script>
  //console.log("your loc id is " + <%= @video.loc_id %>);
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  delete window.player;
  delete this.player;
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '390',
      width: '640',
      videoId: '<%= @video.loc_id %>',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
    console.log(player.getCurrentTime);
  }

  function onPlayerReady(event) {
    event.target.playVideo();
  }

  var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.ENDED && !done) {
       done = true;
    }
  }
  function stopVideo() {
    player.stopVideo();
  }

  var unescapeScript = unescapeHtml('<%= @script %>');
  console.log(unescapeScript);
  var jsonScript = JSON.parse(unescapeScript);

  function scriptTimer() {
    var videoTime = window.player.getCurrentTime();
    var currentScript = jsonScript[0].text;
    $.each(jsonScript, function (index, value) {
      if (value.time < videoTime) {
        currentScript = value.text;
      }
    });
    console.log(currentScript);
    $(".sub-text").text(currentScript);
  }

  function unescapeHtml(safe) {
      return safe.replace(/&amp;/g, '&')
          .replace(/&lt;/g, '<')
          .replace(/&gt;/g, '>')
          .replace(/&quot;/g, '"')
          .replace(/&#039;/g, "'")
          .replace(/&#39;/g, "'");
  }

  var timerFunc = setInterval(scriptTimer, 1000);

  //
  // if done {
  //   window.clearInterval(scriptTimer);
  // }
  //function returnTime() {
    //var videoTime = player.getCurrentTime();
    //$(".time-display").text(videoTime);
  //}
</script>

<div class="container">
  <div class="page-header">
    <ul class="list-inline">
      <li><h1 class="network-name"><%= @video.title %></h1></li>
      <% if @user.owner == true %>
        <li>
          <%= form_tag("/videos/#{@video.id}/edit", method: 'get') do  %>
            <%= submit_tag "Edit Video Details", class: 'btn btn-info btn-lg'%>
          <% end %>
        </li>
        <li>
          <%= form_tag("/videos/#{@video.id}", method: 'delete') do  %>
            <%= submit_tag "Delete This Video", class: 'btn btn-danger btn-lg'%>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div id="player" class="video-container">
      </div>
      <div class="overlay-desc">
        <h4 class="sub-text"></h4>
      </div>
    </div>
  <!-- below is beginning code for the ability to watch videos at various lexical levels -->
  <!-- <h4><a onclick="returnTime()" href="#">See the video time</h4>
   <div class="time-display">

  </div> -->
  </div>
</div>
